audioop-lts==0.2.1
certifi==2024.12.14
charset-normalizer==3.4.1
comtypes==1.4.9
idna==3.10
pyaudio==0.2.14
pygame==2.6.1
pygetwindow==0.0.9
pypiwin32==223
pyrect==0.2.0
pyttsx3==2.98
pywin32==308
pywinauto==0.6.9
requests==2.32.3
six==1.17.0
speechrecognition==3.14.0
standard-aifc==3.13.0
standard-chunk==3.13.0
typing-extensions==4.12.2
urllib3==2.3.0